@media (min-width: 1920px) {
    .footer__content {
        max-width: 1920px;
    }
    .footer__column,
    .form-footer {
        margin: 0;
    }
}

@media (max-width: 1880px) {
    .nav {
        margin-right: 0;
    }
    .hero {
        background-image: url(../img/1024.jpg);
        background-size: cover;
        height: 100%;
        padding: 160px 77px;
        margin-bottom: 35px;
    }
    .hero__title {
        display: unset;
        font-size: 60px;
        line-height: initial;
        margin-bottom: 16px;
        min-height: auto;
    }
    .hero__text {
        line-height: initial;
        font-size: 20px;
        margin-bottom: 0;
        margin-bottom: 60px;
    }
    .about {
        margin-bottom: 77px;
    }
    .about__texte {
        margin-bottom: 60px;
    }
    .about__content {
        background-size: contain;
        background-image: url(../img/about1024.png);
        min-height: 640px;
    }
    .about__block{
        max-width: 925px;
    }
    .about__btn{
        padding: 17.8px 36px;
    }
    .about__list,
    .about__lists {
        padding-left: 316px;
        background-position: left 10.4% top 64px;
    }
    .container {
        padding: 0 50px;
    }
    .text-footer {
        display: none;
    }
    .questions {
        margin: 0;
    }
    .questions__list {
        display: grid;
        margin-bottom: 79px;
    }
    .header,
    .container__header
    .footer
    .container
    .about__special
    .about__content {
            width: 100%;
    }
    .stages {
        margin-bottom: 80px;
        height: 100%;
    }
    .stages__text {
        width: 50%;
        margin: 0;
    }
    .questions__item {
        min-height: 231px;
    }

    .footer__content {
        padding: 50px;
    }
    .about__special {
        display: grid;
    }
    .stages__image {
        height: 100%;
        width: 437px;
        object-fit: cover;
        object-position: center;
    }
    .form-footer {
        margin: 0 55px 0 0;
        min-width: 543px;
    }
    .footer__column {
        margin: 0;
    }
    .footer__logo {
        margin-bottom: 16px;
    }
    .title-footer {
        margin: 0 0 23px 0;
    }
    .btn-3 {
        max-width: 240px;
        min-height: 58px;
        font-size: 16px;
        padding: 19px 37.5px ;
    }
}

@media (max-width: 1024px) {
    .header {
        margin-bottom: 40px;
    }
    .about__content{
        background-size: cover;
    }
    .container__header {
        padding: 4px 50px 0;
    }
    .container__search{
        padding: 0 0 4px 0;
    }
    .hero{
        margin-bottom: 36px;
    }
    .about__texte{
        margin-bottom: 59px;
    }
    .about__block{
        padding: 51px 49px 49px 51px;
    }
    .about__btn{
        padding: 19px 35.5px 18px 35px;
        font-size: 16px;
        font-weight: 700;
    }
    .about__list, .about__lists {
        padding-left: 316px;
        background-position: left 10.4% top 64px;
    }
    .about__titles{
        margin: 0 0 10px 0;
    }
    .stages__title{
        transform: translate(0px, 1px);
    }
    .stages__text{
        position: relative;
        padding: 1px 0 0 0;
    }
    .stages__btn{
        position: absolute;
        bottom: -7px;
    }
    .stages__link{
        padding: 20px 37.5px;
    }
    .stages{
        margin-bottom: 87px;
    }
    .stages__img {
        width: 437px;
        height: 100%;
    }
    .questions__titles{
        margin: 0 0 9px 0;
    }
    .nav{
        padding: 0 0 2px 0;
        margin-right: 80px;
    }
    .nav__list {
        gap: 60px;
    }
    .footer__logo{
        transform: translateX(-1px);
    }
    .form{
        width: 541px;
    }
    .form-footer{
        padding-top: 1px;
        transform: translate(57px, 0px);
    }
    .forms,
    .forms-message{
        padding: 15px 24px 12px 24px;
    }
    .title-footer {
        margin: 0 0 25px 0;
    }
    .btn {
        font-size: 24px;
        padding: 25px 34px;
    }
    .check-text{
        padding: 2px 0 0 0;
    }
}

@media (max-width: 1000px) {
    .container__header {
        min-height: 85px;
    }
    .nav {
        height: 20px;
        margin: 0 22px 0 0;
    }
    .nav__list {
        gap: 40px;
    }
    .about__content {
        min-height: 650px;
        background-size: auto;
        background-image: url(../img/about768.png);
        border-radius: 24px;
    }
    .about__block {
        max-width: 668px;
        max-height: 196px;
        border-radius: 24px;
        padding: 34px 40px;
    }
    .about__text {
        max-width: 366px;
    }
    .about__list{
        background-position: left 7% top 67px;
        background-image: url(../img/about-list768.svg);
        padding: 35px 40px 33px 169px;
        max-width: 668px;
        min-height: 235px;
        border-radius: 24px;
    }
    .about__lists{
        background-position: left 7% top 67px;
        background-image: url(../img/about-lists768.svg);
        padding: 35px 40px 33px 169px;
        max-width: 668px;
        min-height: 235px;
        border-radius: 24px;
    }
    .stages__content {
        display: flex;
        flex-direction: column-reverse;
    }
    .stages__text {
        margin: 0;
        min-width: 667px;
        min-height: 467px;
    }
    .stages__img {
        margin-bottom: 38px;
        width: auto;
        height: auto;
    }
    .footer {
        min-height: 798px;
    }
    .footer__list {
        display: none;
    }
    .form-footer {
        display: flex;
        flex-direction: column;
        height: auto;
        margin-left: -57px;
        position: relative;
        left: 0;
        min-width: 541px;
    }
    .footer__column {
        margin: 0;
    }
    .footer__content {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media (max-width: 768px){
    .container__header{
        display: flex;
        justify-content: space-between;
        min-height: 69px;
        padding: 0px 50px 0;
    }
    .container__search {
        padding: 0 0 2px 0;
    }
    .header{
        margin-bottom: 40px;
    }
    .header__logo{
        display: flex;
        height: 35px;
    }
    .header__nav__btn{
        display: flex;
        align-items: center;
    }
    .nav {
        height: 20px;
        margin-right: 22px;
        padding: 2px 0 0 0;
    }
    .nav__item{
        font-size: 16px;
    }
    .nav__list{
        gap: 41px;
        font-size: 16px;
    }
    .nav__link{
        font-size: 16px;
    }
    .hero{
        min-height: 668px;
        border-radius: 24px;
        background-image: url(../img/768.jpg);
        background-size: contain;
        padding: 160px 40px 0 40px;
        margin-bottom: 29.5px;
    }
    .hero__title{
        font-size: 50px;
    }
    .hero__text{
        font-size: 18px;
    }
    .btn{
        font-size: 23px;
    }
    .about{
        margin-bottom: 81px;
    }
    .about__texte{
        margin-bottom: 55px;
    }
    .about__content{
        min-height: 650px;
        background-size: auto;
        background-image: url(../img/about768.png);
        border-radius: 24px;
    }
    .about__block {
        max-width: 668px;
        max-height: 196px;
        border-radius: 24px;
        padding: 34px 40px;
    }
    .about__text{
        max-width: 366px;
    }
    .about__btn{
        padding: 18px 35px;
    }
    .about__list{
        background-position: left 7% top 67px;
        background-image: url(../img/about-list768.svg);
        padding: 35px 40px 33px 169px;
        max-width: 668px;
        min-height: 235px;
        border-radius: 24px;
    }
    .about__lists{
        background-position: left 7% top 67px;
        background-image: url(../img/about-lists768.svg);
        padding: 35px 40px 33px 169px;
        max-width: 668px;
        min-height: 235px;
        border-radius: 24px;
    }
    .about__titles{
        margin: 0 0 8px 0;
        min-height: 29px;
        min-width: 452px;
    }
    .about__texts{
        min-height: 128px;
        min-width: 452px;
    }
    .stages{
        min-height: 889px;
        margin-bottom: 80px;
    }
    .stages__title{
        transform: none;
        margin-bottom: 20px;
    }
    .stages__titles {
        margin-bottom: 11px;
    }
    .stages__text {
        margin: 0;
        min-width: 667px;
        min-height: 467px;
        padding: 0;
    }
    .stages__content {
        display: flex;
        flex-direction: column-reverse;
    }
    .stages__img {
        margin-bottom: 47px;
        width: 100%;
        height: auto;
    }
    .stages__texte{
        margin-bottom: 24px;
    }
    .stages__button,
    .stages__link{
        height: 60px;
    }
    .stages__link{
        width: 147px;
    }
    .questions__title{
        margin-bottom: 31px;
    }
    .questions__item{
        padding: 34px 65px 32.5px 39px;
        min-height: 200px;
    }
    .questions__list{
        margin-bottom: 80px;
    }
    .questions__titles{
        margin-bottom: 9px;
    }
    .footer{
        min-height: 798px;
    }
    .footer__list {
        display: none;
    }
    .form-footer {
        height: 649px;
        margin-left: -7px;
        position: absolute;
        left: 0;
        min-width: 541px;
    }
    .title-footer{
        margin-bottom: 25px;
    }
    .footer__column {
        margin: 0 0 -4px 0;
    }
    .form-footer{
        transform: translate(57px, -48px);
    }
    .footer__logo{
        margin-bottom: 12px;
    }
    .social-footer{
        margin: 0 0px 5px 1px;
    }
    .footer__content {
        padding: 45px 50px 51px 50px;
    }
    .forms{
        padding: 14.5px 24px 13px 24px;
    }
    .forms-message{
        padding: 14.5px 24px 13px 24px;
    }
    .social-footer{
        margin: 0 0 4px 0;
    }
    .check-text{
        margin: 1px 0 0 0;
    }
}
@media (max-width: 767px){
    .header__logo{
        min-width: 110px;
    }
    .header{
        height: 132px;
        margin-bottom: 20px;
        border-radius: 0 0 15px 15px;
    }
    .container{
        padding: 0 15px;
    }
    .hero{
        border-radius: 16px;
    }
    .container__header{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        align-content: space-between;
        padding: 17px 0 24px 15px;
        margin-bottom: 15px;
    }
    .header__nav__btn{
        display: flex;
        overflow-y: hidden;
        order: 3;
        flex-wrap: wrap;
    }
    .nav{
        position: sticky;
        order: 1;
        overflow-y: hidden;
        margin: 0 0 1px 1px;
        padding-right: 15px;
    }
    .nav__list{
        gap: 25.5px;
    }
    .nav__link{
        white-space: nowrap;
    }
    .container__search{
        position: absolute;
        top: 22px;
        padding: 0 15px 1px 0;
    }
    .hero{
        min-height: 308px;
        background-size: contain;
        background-image: url(../img/header320.jpg);
        padding: 60px 22px 0 22px;
        margin-bottom: 46px;
    }
    .hero__container{
        display: flex;
        align-items: center;
        text-align: center;
    }
    .hero__title{
        font-size: 20px;
        margin-bottom: 6.6px;
    }
    .hero__text{
        font-size: 12px;
        margin-bottom: 33px;
    }
    .btn{
        display: flex;
        font-size: 12px;
        padding: 11px 28px 10px 28.5px;
        width: 162px;
        height: 41px;
        align-items: center;
        border-radius: 8px;
    }
    .about{
        margin-bottom: 45px;
    }
    .about__title{
        font-size: 24px;
        margin-bottom: 4px;
    }
    .about__texte{
        font-size: 14px;
        line-height: 28px;
        margin-bottom: 14px;
    }
    .about__content{
        border-radius: 16px;
        background-image: url(../img/about320.png);
        background-repeat: no-repeat;
        min-height: 200px;
    }
    .about__block{
        position: static;
        display: flex;
        flex-direction: column;
        background: none;
        padding: 208px 0 0 0;
        width: auto;
        max-height: none;
        align-items: flex-start;
        margin-bottom: -3px;
    }
    .about__text{
        margin-bottom: 12px;
        color: #000;
        font-weight: 400;
        width: 290px;
        line-height: 28px;
        font-size: 14px;
        padding: 0;
    }
    .about__btn{
        padding: 11.5px 42px 11px 42px;
        font-size: 12px;
        font-weight: 700;
        border-radius: 8px;
        color: #f90;
        border: 2px solid #f90;
    }
    .about__list {
        background-position: left 0% top 3px;
        background-image: url(../img/about-list320.svg);
        padding: 65px 0 0 0;
        width: 290px;
        min-height: 235px;
        border-radius: 24px;
        border: none;
        margin: 0 0 -3px 0;
    }
    .about__lists{
        background-position: left 0% top 3px;
        background-image: url(../img/about-lists320.svg);
        padding: 65px 0 0 0;
        width: 290px;
        min-height: 235px;
        border-radius: 24px;
        border: none;
    }
    .about__titles{
        font-size: 18px;
        font-weight: 500;
        min-width: 290px;
        min-height: 44px;
        line-height: 21px;
        margin: 0 0 3px 0;
    }
    .about__texts{
        min-width: 290px;
        line-height: 28px;
        font-size: 14px;
    }
    .stages{
        margin-bottom: 46px;
    }
    .stages__title{
        font-size: 24px;
        font-weight: 400;
        margin-bottom: -5px;
    }
    .stages__content{
        font-size: 18px;
        font-weight: 500;
    }
    .stages__titles{
        font-size: 18px;
        margin: -20px 0 14px 0;
        font-weight: 500;
        margin-bottom: 13px;
    }
    .stages__text{
        min-width: 290px;
        min-height: 467px;
    }
    .stages__texte{
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
    }
    .stages__btn{
        position: relative;
        bottom: 0;
    }
    .stages__button{
        border-radius: 8px;
        max-width: 162px;
        height: 40px;
        padding: 10.5px 44px;
        font-size: 12px;
        margin-right: 10px;
    }
    .stages__link{
        transform: translate(0px, 1px);
        border-radius: 8px;
        max-width: 118px;
        height: 39px;
        padding: 9px 32px 8px 31px;
        font-size: 12px;
    }
    .questions{
        margin: 0 0 60px 0;
    }
    .questions__title{
        font-size: 24px;
        margin: 0 0 5px 0;
    }
    .questions__list{
        font-size: 18px;
        font-weight: 500;
        margin: 0;
        transform: translate(1px, 0px);
    }
    .questions__item{
        padding: 0;
        border: none;
        min-height: 160px;
    }
    .questions__titles{
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 5px;
        line-height: 22px;
        min-width: 290px;
    }
    .questions__text {
        margin: 0;
        line-height: 27.5px;
        font-size: 14px;
        font-weight: 400;
    }
    .footer{
        min-height: 678px;
    }
    .footer__content{
        padding: 30px 14px;
    }
    .footer__column{
        display: flex;
        margin: 0 0 -3px -1px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .title-footer{
        padding: 0;
        font-size: 24px;
        margin: 0 0 4px -1px;
    }
    .form-footer{
        position: absolute;
        left: -58px;
        margin: 0;
        padding: 65px 17px 17px 16px;
    }
    .form{
        width: 290px;
    }
    .forms,
    .forms-message{
        padding: 14px 20px;
        font-size: 14px;
        margin-bottom: 25px;
    }
    .btn-checkbox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .btn-3{
        min-height: 40px;
        font-size: 12px;
        padding: 10px 19px;
        border-radius: 8px;
        margin: 0 0 15.5px 0;
    }
    .check-text{
        padding: 2px 3px 0px 0;
        margin: 0;
    }

    .footer__logo{
        margin: 0 0 11px 0;
        transform: none;
    }
    .social-footer{
        margin: 0;
    }
    .soc-footer:first-child{
        margin: 0 16px 0 0;
    }
    .social{
        width: 40px;
        height: 40px;
        margin: 0;
    }
    .checkbox input[type=checkbox]{
        margin: 0 3.5px 1px 1.5px;
    }
}
@media (max-width: 320px){
    .header__logo{
        min-width: 110px;
    }
    .header{
        height: 132px;
        margin-bottom: 20px;
        border-radius: 0 0 15px 15px;
    }
    .container{
        padding: 0 15px;
    }
    .hero{
        border-radius: 16px;
    }
    .container__header{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        align-content: space-between;
        padding: 17px 0 24px 15px;
        margin-bottom: 15px;
    }
    .header__nav__btn{
        display: flex;
        overflow-y: hidden;
        order: 3;
        flex-wrap: wrap;
    }
    .nav{
        position: sticky;
        order: 1;
        overflow-y: hidden;
        margin: 0 0 1px 1px;
        padding-right: 15px;
    }
    .nav__list{
        gap: 25.5px;
    }
    .nav__link{
        white-space: nowrap;
    }
    .container__search{
        position: absolute;
        top: 22px;
        padding: 0 15px 1px 0;
    }
    .hero{
        min-height: 308px;
        background-size: contain;
        background-image: url(../img/header320.jpg);
        padding: 60px 22px 0 22px;
        margin-bottom: 46px;
    }
    .hero__container{
        display: flex;
        align-items: center;
        text-align: center;
    }
    .hero__title{
        font-size: 20px;
        margin-bottom: 6.6px;
    }
    .hero__text{
        font-size: 12px;
        margin-bottom: 33px;
    }
    .btn{
        display: flex;
        font-size: 12px;
        padding: 11px 28px 10px 28.5px;
        width: 162px;
        height: 41px;
        align-items: center;
        border-radius: 8px;
    }
    .about{
        margin-bottom: 45px;
    }
    .about__title{
        font-size: 24px;
        margin-bottom: 4px;
    }
    .about__texte{
        font-size: 14px;
        line-height: 28px;
        margin-bottom: 14px;
    }
    .about__content{
        border-radius: 16px;
        background-image: url(../img/about320.png);
        background-repeat: no-repeat;
        min-height: 200px;
    }
    .about__block{
        position: static;
        display: flex;
        flex-direction: column;
        background: none;
        padding: 208px 0 0 0;
        width: auto;
        max-height: none;
        align-items: flex-start;
        margin-bottom: -3px;
    }
    .about__text{
        margin-bottom: 12px;
        color: #000;
        font-weight: 400;
        width: 290px;
        line-height: 28px;
        font-size: 14px;
        padding: 0;
    }
    .about__btn{
        padding: 11.5px 42px 11px 42px;
        font-size: 12px;
        font-weight: 700;
        border-radius: 8px;
        color: #f90;
        border: 2px solid #f90;
    }
    .about__list {
        background-position: left 0% top 3px;
        background-image: url(../img/about-list320.svg);
        padding: 65px 0 0 0;
        width: 290px;
        min-height: 235px;
        border-radius: 24px;
        border: none;
        margin: 0 0 -3px 0;
    }
    .about__lists{
        background-position: left 0% top 3px;
        background-image: url(../img/about-lists320.svg);
        padding: 65px 0 0 0;
        width: 290px;
        min-height: 235px;
        border-radius: 24px;
        border: none;
    }
    .about__titles{
        font-size: 18px;
        font-weight: 500;
        min-width: 290px;
        min-height: 44px;
        line-height: 21px;
        margin: 0 0 3px 0;
    }
    .about__texts{
        min-width: 290px;
        line-height: 28px;
        font-size: 14px;
    }
    .stages{
        margin-bottom: 46px;
    }
    .stages__title{
        font-size: 24px;
        font-weight: 400;
        margin-bottom: -5px;
    }
    .stages__content{
        font-size: 18px;
        font-weight: 500;
    }
    .stages__titles{
        font-size: 18px;
        margin: -20px 0 14px 0;
        font-weight: 500;
        margin-bottom: 13px;
    }
    .stages__text{
        min-width: 290px;
        min-height: 467px;
    }
    .stages__texte{
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
    }
    .stages__btn{
        position: relative;
        bottom: 0;
    }
    .stages__button{
        border-radius: 8px;
        max-width: 162px;
        height: 40px;
        padding: 10.5px 44px;
        font-size: 12px;
        margin-right: 10px;
    }
    .stages__link{
        transform: translate(0px, 1px);
        border-radius: 8px;
        max-width: 118px;
        height: 39px;
        padding: 9px 32px 8px 31px;
        font-size: 12px;
    }
    .questions{
        margin: 0 0 60px 0;
    }
    .questions__title{
        font-size: 24px;
        margin: 0 0 5px 0;
    }
    .questions__list{
        font-size: 18px;
        font-weight: 500;
        margin: 0;
        transform: translate(1px, 0px);
    }
    .questions__item{
        padding: 0;
        border: none;
        min-height: 160px;
    }
    .questions__titles{
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 5px;
        line-height: 22px;
        min-width: 290px;
    }
    .questions__text {
        margin: 0;
        line-height: 27.5px;
        font-size: 14px;
        font-weight: 400;
    }
    .footer{
        min-height: 678px;
    }
    .footer__content{
        padding: 30px 14px;
    }
    .footer__column{
        display: flex;
        margin: 0 0 -3px -1px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .title-footer{
        padding: 0;
        font-size: 24px;
        margin: 0 0 4px -1px;
    }
    .form-footer{
        position: absolute;
        left: -58px;
        margin: 0;
        padding: 65px 17px 17px 16px;
    }
    .form{
        width: 290px;
    }
    .forms,
    .forms-message{
        padding: 14px 20px;
        font-size: 14px;
        margin-bottom: 25px;
    }
    .btn-checkbox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .btn-3{
        min-height: 40px;
        font-size: 12px;
        padding: 10px 19px;
        border-radius: 8px;
        margin: 0 0 15.5px 0;
    }
    .check-text{
        padding: 2px 3px 0px 0;
        margin: 0;
    }

    .footer__logo{
        margin: 0 0 11px 0;
        transform: none;
    }
    .social-footer{
        margin: 0;
    }
    .soc-footer:first-child{
        margin: 0 16px 0 0;
    }
    .social{
        width: 40px;
        height: 40px;
        margin: 0;
    }
    .checkbox input[type=checkbox]{
        margin: 0 3.5px 1px 1.5px;
    }
}